-
  var btnItem = [
    {
      name: 'html',
      image_url: 'images/html5.svg',
      isActive: true
    },
    {
      name: 'pug',
      image_url: 'images/pug-icon.png',
      isActive: false
    },
    {
      name: 'css',
      image_url: 'images/css3.svg',
      isActive: false
    },
    {
      name: 'sass',
      image_url: 'images/sass.svg',
      isActive: false
    },
    {
      name: 'jquery',
      image_url: 'images/jquery-icon.png',
      isActive: false
    },
    {
      name: 'react',
      image_url: 'images/react.svg',
      isActive: false
    },
    {
      name: 'webpack',
      image_url: 'images/webpack-icon.svg',
      isActive: false
    }
  ];