-
  var labItem = [
    {},
    {
      imageUrl: 'MapleHero.jpg',
      linkUrl: 'http://dorashimon.com/works/MapleLab/demos/HeroHeader_img/',
      isRight: false
    },
    {
      imageUrl: 'MapleMenu2.png',
      linkUrl: 'http://dorashimon.com/works/MapleLab/demos/FullScreenMenu_slide/',
      isRight: true
    },
    {
      imageUrl: 'MapleModal.jpg',
      linkUrl: 'http://dorashimon.com/works/MapleLab/demos/Modal/',
      isRight: false
    }
  ]