-
  var sns = [
  {
    name: 'twitter',
    link: 'https://twitter.com/share?url=&text=メープルもみじ、堂寺志門のホームページ。'
  },
  {
    name: 'facebook-f',
    link: 'https://www.facebook.com/sharer/sharer.php?u=http://maple-tree.moo.jp'
  },
  {
  	name: 'line',
  	link: 'https://social-plugins.line.me/lineit/share?url={http://maple-tree.moo.jp}'
  }
  ];