-
  var labItem = [
    {},
    {
      imageUrl: 'MapleHero.png',
      linkUrl: 'mapleLab/MapleHero',
      isRight: false
    },
    {
      imageUrl: 'MapleMenu2.png',
      linkUrl: 'ml',
      isRight: true
    },
    {
      imageUrl: 'MapleModal.png',
      linkUrl: 'mm',
      isRight: false
    }
  ]