-
	var snsItem = [
		{
			name: 'twitter',
			fontName: 'twitter-square',
			color: '#1da1f2',
			linkUrl: 'https://twitter.com/robibon1'
		},
		{
			name: 'facebook',
			fontName: 'facebook-square',
			color: '#3b5998',
			linkUrl: 'https://www.facebook.com/profile.php?id=100021757482279'
		},
		{
			name: 'instagram',
			image: 'IG_Glyph_Fill_0000_Gradient.png',
			linkUrl: 'https://www.instagram.com/maple.momiji_sd/'
		},
		{
			name: 'watedly',
			image: 'wantedly_icon.png',
			linkUrl: 'https://www.wantedly.com/users/42798289'
		},
		{
			name: 'github',
			fontName: 'github-square',
			color: '#6e5494',
			linkUrl: 'https://github.com/maple-momiji'
		},
		{
			name: 'qitta',
			image: 'qiita-favicon.png',
			linkUrl: 'https://qiita.com/maple-momiji'
		}
	]