//- worksList
-
	var worksList = [
		{
			name: 'Syugu moji!',
			imageUrl: 'syugumoji-noletter.png',
			text: 'シンプルでレスポンシブな文字数カウンター。',
			tag: ['CSS', 'jQuery'],
			linkUrl: 'http://maple-tree.moo.jp/works/Syugumoji/index.html'
		},
		{
			name: 'Soft Matter',
			imageUrl: 'soft-matter.jpg',
			text: '父,堂寺知成(近畿大学 理工学部教授)のWebサイトを制作。',
			tag: ['CSS', 'jQuery'],
			linkUrl: 'http://softmatter.phys.kindai.ac.jp/'
		},
		{
			name: '石の裏のダンゴムシ',
			imageUrl: 'dango64.png',
			text: 'はてなブログで運営中の「石の裏のダンゴムシ」さんのブログデザイン、cssで実装を担当。',
			tag: ['CSS'],
			linkUrl: 'http://dango64.hateblo.jp/'
		},
		{
			name: 'MineSweeper on Browser',
			imageUrl: 'mines.jpg',
			text: 'おなじみのコンピュータゲーム「マインスイーパ」をCSSとJavaScriptで作りました。',
			tag: ['CSS','jQuery', 'JS'],
			linkUrl: 'http://maple-tree.moo.jp/works/MineSweeper/index.html'
		},
		{
			name: 'Janken Pon!',
			imageUrl: 'hands2.jpg',
			text: 'じゃんけんをするだけのサイトの改良版。',
			tag: ['CSS','jQuery'],
			linkUrl: 'http://maple-tree.moo.jp/works/janken2/index.html'
		},
		{
			name: 'Janken!',
			imageUrl: 'hands.jpg',
			text: '処女作。じゃんけんをするだけのサイト。',
			tag: ['CSS','jQuery'],
			linkUrl: 'http://maple-tree.moo.jp/works/janken/index.html'
		}
	]