.l-about {
	background-color: #fff;
	color: $textColor;
	padding: 50px 0 92px;
	&__intro {
		text-align: center;
		&__icon {
			width: 130px;
			height: 130px;
			border-radius: 50%;
			margin-bottom: 30px;
		}
		&__text {
			font-size: 20px;
			line-height: 24px;
			text-align: left;
			width: 339px;
			margin: 0 auto;
			height: 87px;
			font-family: $textFontEn;
		}
	}
	&__btns {
		cursor: pointer;
		margin-top: 31.2px;
		display: flex;
		justify-content: space-around;
		&__item {
			border: 1px solid #fff;
			padding: 5px;
			position: relative;
			&__image {
				width: 40px;
				height: 40px;
			}
			&__triangle {
				position: absolute;
				bottom: -24px;
				left: 23%;
				display: flex;
				justify-content:center;
				border-right: 15px solid transparent;
			  border-bottom: 17px solid #9b9b9b;
			  border-left: 15px solid transparent;
			  display: none;
			}
			&.btnActive {
				.l-about__btns__item__triangle {
					display: block;
				}
			}
			&:hover {
				border: 1px solid $textColor;
			}
		}
	}
	&__text-area {
		background-color: rgba(238, 238, 238, .6);
		padding: 50px 24px;
		margin-top: 87px;
		text-align: left;
		line-height: 26px;
		font-size: 18px;
		font-family: $codeFont;
		&__item {
			display: none;
			&.textActive {
				display: block;
			}
		}
		&__list {
		}
	}
}