.l-contact {
	padding: 46px 0 66px;
	background-color: #eee;
	color: $textColor;
	&__sns {
		margin: 55px auto 0;
		width: 400px;
		display: flex;
		justify-content: space-between;
		&__item {
			font-size: 32px;
			&:hover {
				opacity: 0.5;
			}
			a {
				display: block;
			}
			img {
				width: 28px;
				height: 28px;
			}
		}
	}
}