.l-contact {
	padding: 46px 0 66px;
	background-color: #eee;
	color: $textColor;
	font-family: $subFont;
	.l-container__sectionTitle {
		font-family: $mainFont;
		margin-bottom: 29px;
	}
	&__text {
		font-size: 14px;
		line-height: 21px;
		text-align: center;
	}
	&__sns {
		margin: 30px auto;
		width: 400px;
		display: flex;
		justify-content: space-between;
		&__item {
			font-size: 32px;
			&:hover {
				opacity: 0.5;
			}
			a {
				display: block;
			}
			img {
				width: 28px;
				height: 28px;
			}
		}
	}
}