@import url('https://fonts.googleapis.com/css?family=Hi+Melody');
.l-footer {
	padding: 20px 0 25px;
	text-align: center;
	background-color: $mainColor;
	color: #fff;
	font-family: $textFontEn;
	@media (max-width: 600px) {
		padding: 10px 0;
	}
	&__copyrights {
		font-size: 12px;
		line-height: 20px;
		@media (max-width: 600px) {
			font-size: 10px;
		}
	}
}