.l-header {
	font-family: $headFont;
	background-color: #fff;
	color: $textColor;
	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;
 	z-index: 1000;
 	height:50px;
 	line-height: 50px;
 	box-shadow: 1px 0 5px #999;
 	@media (max-width: 600px) {
 		display: none;
 	}
	&__inner {
		width: 960px;
		margin: 0 auto;
		display: flex;
 		justify-content: space-between;
 		@media (max-width: 1023px) {
 			width:auto;
 			margin:0;
 			padding: 0 50px;
	 	}
		&__siteNav {
	 		&__list {
	 			display: flex;
	 			&__item {
	 				font-size: 22px;
	 				margin-right: 32.2px;
	 				position: relative;
	 				h2 {font-weight:normal;}
	 				@media (max-width: 1023px) {
	 					font-size: 18px;
	 				}
	 				.current {
	 					.isActive {
	 						position: absolute;
	 						bottom: 0;
	 						width: 100%;
	 						height: 2px;
	 						background-color: #369;
	 					}
	 				}
	 			}
	 		}
		}
		&__shareLinks {
	 		display: flex;
	 		align-items: center;
	 		&__item {
	 			font-size: 18px;
	 			margin-left: 10px;
	 			background-color: #369;
	 			color: #fff;
	 			width:30px;
	 			height: 30px;
	 			display: flex;
	 			justify-content: center;
	 			align-items:center;
	 			border-radius: 50%;
	 		}
	 	}
	}
}

// ---- for mobile --------
.l-header-mobile {
	display: none;
	@media (max-width: 600px) {
		display: block;
		position: fixed;
		right: 14px;
		top: 20px;
		left: auto;
		width: 51px;
		height: 51px;
		border-radius: 50%;
		box-shadow: 1px 1px 5px #999;
		background-color: $textColor;
		color: #fff;
		padding: 5px;
		text-align: center;
		z-index: 999;
	}
	&__text {
		font-size: 10px;
		margin-bottom: 3px;
	}
	&__icon {
		font-size: 30px;
	}
	&__opened {
		visibility: hidden;
		&.isVisible {
			visibility: visible;
			transform: translate(0%, 0%) scale(1);
			opacity: 1;
			border-radius: 0;
		}
		@media (max-width: 600px) {
			transition: all .6s ease 0s;
			transform: translate(100%);
			opacity: 0;
			position: fixed;
			width: 100%;
			height: calc(100vh);
			background-color: rgba(51, 102, 153, 0.9);
			color: #fff;
			z-index: 1000;
			border-radius: 50%;
		}
		&__close {
			position: absolute;
			font-size: 48px;
			top: 20px;
			right: 19px;
		}
		&__nav {
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			transform: translate(-50%, -50%);
			&__item {
				font-size: 24px;
				line-height: 29px;
				margin-bottom: 44px;
				font-family: $textFontEn;
				font-weight: bold;
			}
		}
	}
}
